<table width='100%'>
<tr><td width='200px'>
<label><input type='radio' name='type' value='0' <% if(agent_data.type==0) {%>checked<% } %> >Физическое лицо</label><br>
<label><input type='radio' name='type' value='1'<% if(agent_data.type!=0) {%>checked<% } %>>Юридическое лицо</label><br>
</td><td>
Краткое наименование: <br>
<input type=text name='pos_name' value='<%= agent_data.name %>' style='width: 95%;'>
</td>
<td width='180px'>
Группа:<br>
<select name='group'>
<% for (var i = 0; i < group_data.length; i++) { %>
<option value='<%= group_data[i].id  %>'<% if(agent_data.group==group_data[i].id) {%> selected<% } %>><%= group_data[i].value %></option>
<% } %>
</select>
</td>
<tr>
<td><label><input type='checkbox' name='dishonest' value='1' <% if(agent_data.dishonest!=0) {%>checked<% } %>>Недобросовестный агент</label></td>
<td id='fullname_text' colspan='2'><% if(agent_data.type==0) {%>ФИО:<% }else{ %>Полное наименование:<% } %><br>
<input type=text name='fullname' value='<%= agent_data.fullname %>' style='width: 95%;'></td>
</tr>
</table>
<fieldset><legend>Контакты</legend>
<table width='100%' cellpadding='0' cellspacing='0'>
<tr>
<td>E-mail:</td><td>Основной телефон</td><td>Телефон/факс</td><td>Мобильный телефон (для SMS)</td><td>Дополнительный телефон</td>
</tr>
<tr>
<td><input type=text name='email' value='<%= agent_data.email %>' class='email validate'></td>
<td><input type=text name='phone' value='<%= agent_data.phone %>' class='phone validate'></td>
<td><input type=text name='fax_phone' value='<%= agent_data.fax_phone %>' class='phone validate'></td>
<td><input type=text name='sms_phone' value='<%= agent_data.sms_phone %>' class='phone validate'></td>
<td><input type=text name='alt_phone' value='<%= agent_data.alt_phone %>' class='phone'></td>
</tr>
</table>
</fieldset>
<% if(agent_data.type==0) {%>Адрес прописки:<% }else{ %>Юридический адрес:<% } %><br>
<input type=text name='adres' value='<%= agent_data.adres %>' style='width: 95%;'><br>
Почтовый адрес (вероятно, уже устарело и нигде не используется):<br>
<input type=text name='gruzopol' value='<%= agent_data.gruzopol %>' style='width: 95%;'><br>
<fieldset><legend>Банковские реквизиты</legend>
<table width='100%' cellspacing='0' cellpadding='0'>
<tr>
<td>Рассчетный счет</td><td>БИК</td><td>Банк</td><td>Корр. счет</td>
</tr>
<tr>
<td><input type=text name='rs' value='<%= agent_data.rs %>' style='width: 95%;' class='rs validate'></td>
<td><input type=text name='bik' value='<%= agent_data.bik %>' style='width: 95%;' class='bik validate'></td>
<td><input type=text name='bank' value='<%= agent_data.bank %>' style='width: 95%;'></td>
<td><input type=text name='ks' value='<%= agent_data.ks %>' style='width: 95%;'></td>
</tr>
<tr><td colspan='2'><small>БИК и Расчётный счёт проверяются на корректность совместно</small></td><td colspan='2'></td></tr>
</table>
</fieldset>
<fieldset><legend><% if(agent_data.type==0) {%>Данные физического лица:</legend>
<table width='100%' cellspacing='0' cellpadding='0'>
<tr><td>ИНН</td><td>Паспорт: Номер</td><td>Паспорт: Дата выдачи</td><td>Паспорт: Кем выдан</td></tr>
<tr>
<td><input type=text name='inn' value='<%= agent_data.inn %>' style='width: 95%;' class='inn validate'></td>
<td><input type=text name='pasp_num' value='<%= agent_data.pasp_num %>' style='width: 95%;'></td>
<td><input type=text name='pasp_date' value='<%= agent_data.pasp_date %>' style='width: 95%;' id='pasp_date'></td>
<td><input type=text name='pasp_kem' value='<%= agent_data.pasp_kem %>' style='width: 95%;'></td>
</tr>

</table>
<input type='hidden' name='okevd' value='<%= agent_data.okevd %>'>
<input type='hidden' name='okpo' value='<%= agent_data.okpo %>'>
<input type='hidden' name='dir_fio' value='<%= agent_data.dir_fio %>'>
<input type='hidden' name='dir_fio_r' value='<%= agent_data.dir_fio_r %>'>
<% }else{ %>Данные юридического лица:</legend>
<table width='100%' cellspacing='0' cellpadding='0'>
<tr><td>ИНН/КПП</td><td>ОКВЭД</td><td>ОКПО</td><td>ФИО директора</td><td>ФИО директора в родительном падеже</td></tr>
<tr>
<td><input type='text' name='inn' value='<%= agent_data.inn %>' style='width: 95%;' class='inn validate'></td>
<td><input type='text' name='okevd' value='<%= agent_data.okevd %>' style='width: 95%;'></td>
<td><input type='text' name='okpo' value='<%= agent_data.okpo %>' style='width: 95%;'></td>
<td><input type='text' name='dir_fio' value='<%= agent_data.dir_fio %>' style='width: 95%;'></td>
<td><input type='text' name='dir_fio_r' value='<%= agent_data.dir_fio_r %>' style='width: 95%;'></td>
</tr>
<tr><td>Контактное лицо</td><td>Должность контактного лица</td><td>Паспорт контактного лица: Номер</td><td>Паспорт контактного лица: Дата выдачи</td><td>Паспорт контактного лица: Кем выдан</td></tr>
<tr>
<td><input type='text' name='pfio' value='<%= agent_data.pfio %>' style='width: 95%;'></td>
<td><input type='text' name='pdol' value='<%= agent_data.pdol %>' style='width: 95%;'></td>
<td><input type='text' name='pasp_num' value='<%= agent_data.pasp_num %>' style='width: 95%;'></td>
<td><input type='text' name='pasp_date' value='<%= agent_data.pasp_date %>' style='width: 95%;' id='pasp_date'></td>
<td><input type='text' name='pasp_kem' value='<%= agent_data.pasp_kem %>' style='width: 95%;'></td>
</tr>
</table>
<% } %>
</fieldset>
<fieldset><legend>Разное</legend>
<table width='100%' cellspacing='0' cellpadding='0'>
<tr><td>Дата последней сверки:</td><td>Ответственный</td><td>Относится к</td></tr>
<tr>
<td><input type='text' name='data_sverki' value='<%= agent_data.data_sverki %>' style='width: 95%;' id='data_sverki'<% if(doc_agent_ext_write!=1) {%> disabled<% } %>></td>
<td><select name='responsible' style='width: 95%;' <% if(doc_agent_ext_write!=1) {%> disabled<% } %>>
<option value='null'>--не назначен--</option>
<% for (var i = 0; i < worker_data.length; i++) { %>
<option value='<%= worker_data[i].id  %>'<% if(agent_data.responsible==worker_data[i].id) {%> selected<% } %>><%= worker_data[i].value %></option>
<% } %>
</select></td>
<td><input type='hidden' name='p_agent' id='agent_id' value='$nxt[26]'>
<input type='text' name='p_agent' value='<%= agent_data.p_agent_name %>' style='width: 95%;' id='agent_nm' ></td>
</tr>
</table>
</fieldset>
<fieldset><legend>Комментарий</legend>
<textarea name='comment'><%= agent_data.comment %></textarea>
</fieldset>
