.context_menu
{
	background-color:	#f5f5f5;
	color:			#000;
	border:			1px #bbb solid;
	border-spacing:		3px;
	border-collapse:	none;
	min-width:		200px;
	position: 		absolute;
	display: 		block;
	padding:		4px;
}

.context_menu a:hover
{
	text-decoration:	none;
}

.context_menu div
{
	margin:			1px;
	padding:		3px;
	padding-left:		8px;
	border:			0px none;
	background-color:	#f5f5f5;
	color:			#000;
	height:			18px;
	border:			1px #f5f5f5 solid;
	text-align:		left;
	vertical-align:		middle;
	text-decoration:	none;
	cursor:			pointer;
	list-style-type:	none;
}

.context_menu div:hover
{
	border:			1px #9af solid;
	background-color:	#def;
	text-decoration:	none;
}





input.mini
{
	width: 50px;
	margin: 0px;
	padding: 0px;
	height: 12px;
	font-size: 12px;
}

.lfloat { float:left; margin-right:0.5em; }
.rfloat { float:right; margin-left:0.5em; }

.nofloat, .clear
{
	margin: 0px;
	padding: 0px;
	clear:	both;
}

div.photomini
{
	background-image: url('/img/galery/ram.png');
	width:			160px;
	height:			110px;
	padding:		20px 30px 20px 30px;
	margin:			10px;
	text-align: 	center;
	vertical-align:	middle;
	float:			left;
}

.invert
{
	background-color:	#000;
	color:				#5f5;
}


.c_red
{
   font-weight: bold;
   COLOR: #ff0000;
}

div.err
{
	width: auto;
	border: #ee0000 1px solid;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	color: #ee0000 ;
	padding: 10px;
}

div.ok
{
	width: auto;
	border: #009900 1px solid;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	color: #009900 ;
	padding: 10px;
}

div.notify
{
	width: auto;
	border: #999900 1px solid;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	color: #009900 ;
	padding: 10px;
}

#sdata
{
	width: 300px;
}

div#popup
{
   width: 300px;
   background-color: #f0f5ff;
   border: 1px solid #888;
   text-align: left;
   margin:0px;
   position: fixed;
   display: none;
   max-height: 150px;
   overflow: auto;
   padding: 2px;
}

div#status
{
   width: 200px;
   height: 20px;
   background-color: #f0f5ff;
   border: 1px solid #888;
   text-align: left;
   margin:0px;
   position: fixed;
   display: none;

   padding: 3px;
   FONT-SIZE: 14px;
   font-weight: bold;
}

div.dd
{
   width: 300px;
   background-color: #f0f5ff;
   border: 1px outset #888;
   text-align: left;
   margin:0px;
   position: fixed;
   display: none;
   max-height: 150px;
   overflow: auto;
   padding: 2px;
}

div.hidblock
{
	display: none;
	position: fixed;
	border: 2px outset #888;
	background-color: #f0f5ff;
	padding: 3px;
	margin: 0px;
	min-width: 200px;
	max-width: 80%;
}

.pointer
{
	cursor:pointer !important;
}

.pointer:hover
{
	background-color: #ff8 !important;
}


.Container {
    padding: 0;
    margin: 0;
}

.Container li {
    list-style-type: none;
}


/* indent for all tree children excepts root */
.Node {
    background-image : url(/img/t_i.gif);
    background-position : top left;
    background-repeat : repeat-y;
    margin: 0px;
    margin-left: 18px;
}

.IsRoot {
    margin-left: 0;
}


/* left vertical line (grid) for all nodes */
.IsLast {
    background-image: url(/img/t_i_half00.gif);
    background-repeat : no-repeat;
}

.ExpandOpen .Expand {
    background-image: url(/img/t_expand_m.gif);
}

/* closed is higher priority than open */
.ExpandClosed .Expand {
    background-image: url(/img/t_expand_p.gif);
}

/* highest priority */
.ExpandLeaf .Expand {
    background-image: url(/img/t_expand_l.gif);
}

.Content {
    min-height: 18px;
    margin-left:18px;
}

* html .Content {
    height: 18px;
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}


.ExpandOpen .Container {
        display: block;
}

.ExpandClosed .Container {
        display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
        cursor: pointer;
}
.ExpandLeaf .Expand {
        cursor: auto;
}

.hidebar
{
	opacity: 0.1;
}

.hidebar:hover
{
	opacity: 1.0;
}



/*Для autocomplete через jQurey */

.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
	z-index:	  99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width:3000px;
	height:3000px;
}

.ac_results li {
	position:relative;
    margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
	background : Window url('/img/icon_load.gif') right center no-repeat;
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}




.qnt {
  position:absolute;
  top:2px;
  right:10px;
  font-size:0.8em;
  color:#26A908;
  padding-right: 3px;
}

.sklad-go
{
	padding:	3px;
	border-bottom:	1px solid #000;
}

/* autocomplete. вынести в отдельный файл */
div.autocomplete
{
	position:	absolute;
	width:		100px;
	max-height:		200px;
	border:		1px solid #000;
	background-color: #fff;
	overflow:	auto;
	opacity:	1.0;
}

div.autocomplete ul
{
	padding:	0px;
	margin:		0px;
	list-style-type:none;

}

div.autocomplete li
{
	padding:	1px 3px;
	margin:		0px;
	line-height: 	1em;
	overflow:	hidden;
	font-size:	14px;
	height:		14px;
}

div.autocomplete li.cursor
{
	background-color:	#008;
	color:			#fff;
}


/* Редактор документов */
div.doc_name {
    color: #004;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 8px;
}

div.doc_name .idnum {
    color: #888;
    font-size: 10px;
    float: right;
}

div.doc_numdate {
    height: 40px;
    text-align: right;
    width: 304px;
    padding:0;
    margin:0;
}

div.doc_numdate > .doc_number {
    width: 60px;
    float: left;
    text-align: left;
}

div.doc_numdate > .doc_number > input {
    width: 50px;
}

div.doc_numdate > .doc_subtype {
    width: 60px;
    float: left;
    text-align: left;
}

div.doc_numdate > .doc_subtype > input {
    width: 50px;
}

div.doc_numdate > .doc_date {
    width: 160px;
    text-align: right;
}

div.doc_numdate > .doc_date > input {
    width: 150px;
}

div.doc_head > .item {
    color: #000;
    font-size: 12px;
}

div.doc_head > .item > input[type=text]{
    color: #000;
    font-size: 13px;
    width: 300px;
}