#poslist
{
	width:			100%;
	border-spacing:		0px;
	margin-top:		5px;
}

#poslist td, #poslist th
{
	border-right:		#fff 1px solid;
	padding:		1px;
	padding-left:		3px;
	padding-right:		3px;
}

#poslist th.hl
{
	background-color:	#7DBBDC;
}

#poslist tbody tr:nth-child(odd), #poslist tbody tr:nth-child(odd) input
{
	background:	#f0f8ff;
	color:		inherit;
}

#poslist tbody tr:nth-child(even), #poslist tbody tr:nth-child(even) input
{
	background:	#e0f0ff;
	color:		inherit;
}

#poslist tbody td
{
	text-align:	right;
}

#poslist tbody .la
{
	text-align:	left;
}

/* edited line - строки, ожидающие сохранения на сервер */
#poslist tbody .el, #poslist tbody .el input
{
	background-color:	#ff0 !important; 
}

/* higlight line - подсветка изменённых строк */
#poslist tbody .hl, #poslist tbody .hl input
{
	background-color:	#0f0 !important; 
}
/* deleted line*/
#poslist tbody .dl, #poslist tbody .dl input
{
	background-color:	#eee !important;
	color:			#fff !important;
}

#poslist tbody input
{
	border:			none;
	margin:			0px;
	border-radius:		0;
	-moz-border-radius:	0;
	width:			100%;
	padding:		0px;
	padding-right:		2px;
	background:		inherit;
	text-align:		right;
}

#poslist tbody input:focus
{
	border:			2px #0f0 solid;
}

#poslist div.order_button {
	width:			16px;
	height:			16px;
	padding:		0px;
	color:			#6488DC;
	background-image:	url('/img/arrows.png');
	background-clip:	content-box;
	background-origin: 	content-box;
	background-position:	-48px -32px;
	border:			0px none;
	cursor:			pointer;
	border-radius:		5px;
	float:			left;
}

#poslist tbody img
{
	border:			0 none;
	margin:			2px 3px 0px 3px;
}

#poslist small
{
	cursor:			pointer;
}

#poslist small:hover
{
	cursor:			pointer;
	background-color:	#ff0;
}

#pladd
{
	background-color:	#ffc;
}

#pladd td
{
	padding:	2px;
	text-align:	right;
}

#pladd input
{
	border:			none;
	margin:			0px;
	border-radius:		0;
	-moz-border-radius:	0;
	width:			100%;
	padding:		0px;
	padding-right:		2px;
	background:		#eea;
}

#pladd.process
{
	background-color:	#aaa;
}

#pladd.process input
{
	background-color:	#888;
}

#pladd.error
{
	background-color:	#faa;
}

#pladd.error input
{
	background-color:	#f88;
}

#pos_id
{
	
}

#pos_cost, #pos_cnt
{
	text-align:		right;
}

/* Нижний, *складской* блок */

#sklad_view
{
	width:		100%;
	border-spacing:	0px;
	margin-top:	5px;
}

#sklad_list tr:nth-child(odd)
{
	background:	#f0f8ff;
}

#sklad_list tr:nth-child(even)
{
	background:	#e0f0ff;
}

#sklad_list td
{
	text-align:	right;
}

#sklad_list td.la
{
	text-align:	left;
}

/* Подстветка для кликабельных ячеек */
.reserve, .offer, .transit
{
	cursor:		pointer;
	color:		#06C;
}

.reserve:hover, .offer:hover, .transit:hover
{
	background:	#ffb;
	text-decoration:underline;
}

/*группы актуальности цен */
#sklad_list td.c1
{
	color: #0c0;
}
#sklad_list td.c2
{
	color: #c0c;
}
#sklad_list td.c3
{
	color: #730;
}
#sklad_list td.c4
{
	color: #3a8;
}


