BODY {
FONT-SIZE: 14px;
COLOR: #000000;
FONT-FAMILY: sans-serif;
BACKGROUND-COLOR: #ffffff
}

H1 {
FONT-WEIGHT: bold;
FONT-SIZE: 24px; FONT-FAMILY:
sans-serif
}

TABLE {
FONT-SIZE: 14px;
BORDER-RIGHT: #000000 1px solid;
BORDER-TOP: #000000 1px solid;
BORDER-LEFT: #000000 1px solid;
BORDER-BOTTOM: #000000 1px solid;
BORDER-COLLAPSE: collapse;
border-spacing: 0;
}

TH {
BORDER-RIGHT: #000000 1px solid;
PADDING-RIGHT: 2px;
BORDER-TOP: #000000 1px solid;
PADDING-LEFT: 2px;
FONT-WEIGHT: bold;
PADDING-BOTTOM: 2px;
BORDER-LEFT: #000000 1px solid;
COLOR: #000000;
PADDING-TOP: 2px;
BORDER-BOTTOM: #000000 1px solid;
BACKGROUND-COLOR: #ffffff
}

TD {
BORDER-RIGHT: #000000 1px solid;
PADDING-RIGHT: 2px;
BORDER-TOP: #000000 1px solid;
PADDING-LEFT: 2px;
PADDING-BOTTOM: 2px;
BORDER-LEFT: #000000 1px solid;
COLOR: #000000;
PADDING-TOP: 2px;
BORDER-BOTTOM: #000000 1px solid;
BACKGROUND-COLOR: #ffffff
}

.min {
font-size: 10px;
}

.chead
{
font-size: 10px;
width: 850px;
text-align: center;
text-align: center;
}

.mini {font-size: 10px;}

.ht {BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; BORDER-LEFT: #000000 0px solid;BORDER-BOTTOM: #000000 0px solid; font-size: 10px;}

h1
{
	text-align: center;
}

table.right_align td
{
    text-align: right;
}

table.right_align td#lf
{
    text-align: left;
}
